{#
Author: fpodev (fpodev@gmx.fr)
Batiment.twig (c) 2020
Desc: description
Created:  2020-04-29T16:35:59.993Z
Modified: !date!
#}
<div class="col-md-4">  
            <a href="Gestion-Batiments"><img src= "Public/img/1Batiment.png"></a>
            <div class="caption">
                <p> Gerer les bâtiments </p>
            </div>
</div>
