{#
Author: fpodev (fpodev@gmx.fr)
Batiment.twig (c) 2020
Desc: Template pour la gestion des bâtiment sur la page d'accueil
Created:  2020-04-29T16:35:59.993Z
Modified: !date!
#}
<div>
    <a href="Gestion-Batiments"><img src= "Public/img/1Batiment.png"></a>
    <div class="caption">
        <p> Gerer les bâtiments </p>
    </div>
</div>
