{#
Author: fpodev (fpodev@gmx.fr)
Utilisateur.twig (c) 2020
Desc: template pour la gestion des utilisateurs sur la page d'accueil
Created:  2020-04-29T16:36:24.287Z
Modified: !date!
#}
<div>  
   <a href="Gestion-Utilisateurs"><img src= "Public/img/Utilisateurs.jpg" alt="gestion des utilisateurs"></a>
   <div class="caption">
      <p>Gerer les utilisateurs</p>
   </div>
</div>
