{#
Author: fpodev (fpodev@gmx.fr)
ChangePass.twig (c) 2020
Desc: Page pour changer le mot de passe
Created:  2020-04-13T09:14:09.993Z
Modified: !date!
#}
{% extends "Head.twig" %}

{% block title %} Changement mot de passe {% endblock %}

{% block content %}  
 {% include 'NavBar.twig' only %}
 <div class=container>  
    <div class='text-center'>
        <h1>Modification mot de passe</h1> 
        <form action="Modification-mot-de-passe" method="post">           
            <label for="pass">Votre mot de passe actuel:</label></br>
            <input type="password" name='passActuel'/></br>
            <label for="newPass">Nouveau mot de passe:</label></br>
            <input type="password" name='passNew'/></br>
            <label for="confirmPass">Confirmer votre nouveau mot de passe:</label></br>
            <input type="password" name="passConfirm" /></br>
            <input type="submit" name="valider" value="Valider" />         
        </form>
    </div>  
</div>
{% endblock %}           
