
{% extends "Head.twig" %}

{% block title %} Accueil {% endblock %}

{% block content %} 
<div class="container-fluid">
    <div class="row">
        <i class="fas fa-user col-md-6"> Bienvenue {{ session.prenom|title }} </i>
        <i class="far fa-map col-md-6"> Vous dépendez du site de {{ session.lieu|title }} </i>             
    </div>
</div>  
<div class="container">
  {% if session.niveau  == '0' %}  
    <div class="row">                   
        {% include 'Lieu.twig' only %} 
        {% include 'Batiment.twig' only %}
        {% include 'Utilisateur.twig' only %}
        {% include 'TvxDemande.twig' only %}
        {% include 'InfoTravaux.twig' only %}                          
    </div>
    {% elseif session.niveau == '1' %}
    <div class="row">       
        {% include 'Batiment.twig' only %}
        {% include 'Utilisateur.twig' only %}
        {% include 'TvxDemande.twig' only %}
        {% include 'InfoTravaux.twig' only %}   
    </div>        
    {% else %} 
    <div class="row">
        {% include 'TvxDemande.twig' only %}
        {% include 'InfoTravaux.twig' only %}   
    </div>                  
{% endif %}  
</div>     
{% endblock %}
