{#
Author: fpodev (fpodev@gmx.fr)
Home.twig (c) 2020
Desc: Page acceuil avec different Item suivant le niveau de l'utilisateur
Created:  2020-04-23T08:34:52.327Z
Modified: !date!
#}
{% extends "Head.twig" %}

{% block title %} Accueil {% endblock %}

{% block content %} 
  {% include 'NavBar.twig' only %}                       
<div id="home" class="container">
  {% if session.niveau  == '0' %}  
    <div class="row">                   
        {% include 'Lieu.twig' only %} 
        {% include 'Batiment.twig' only %}
        {% include 'Utilisateur.twig' only %}
        {% include 'TvxDemande.twig' only %}
        {% include 'InfoTravaux.twig' only %}                          
    </div>
    {% elseif session.niveau == '1' %}
    <div class="row">       
        {% include 'Batiment.twig' only %}
        {% include 'Utilisateur.twig' only %}
        {% include 'TvxDemande.twig' only %}
        {% include 'InfoTravaux.twig' only %}   
    </div>        
    {% else %} 
    <div class="row">
        {% include 'TvxDemande.twig' only %}
        {% include 'InfoTravaux.twig' only %}   
    </div>                  
{% endif %}  
</div>     
{% endblock %}
